*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}
.to-do-app{
    width: 100%;
    max-width: 540px;
    background: #ffff;
    padding: 40px 30px 70px;
    margin: 100px auto 20px;
    border-radius: 10px;
}
.to-do-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.to-do-app img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: flex;
    

}
